Nhom1Bai2/src/main/webapp/wsdl/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service1" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service1" xmlns:intf="http://service1" xmlns:tns1="http://domain" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service1" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://domain"/>
   <element name="checkOrder">
    <complexType>
     <sequence>
      <element name="OrderNumber" type="xsd:string"/>
      <element name="companyID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkOrderResponse">
    <complexType>
     <sequence>
      <element name="checkOrderReturn" type="tns1:Order"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://domain" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Order">
    <sequence>
     <element name="companyID" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="orderNumber" nillable="true" type="xsd:string"/>
     <element name="trangthai" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkOrderResponse">

      <wsdl:part element="impl:checkOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkOrderRequest">

      <wsdl:part element="impl:checkOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OrderService">

      <wsdl:operation name="checkOrder">

         <wsdl:input message="impl:checkOrderRequest" name="checkOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkOrderResponse" name="checkOrderResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrderServiceSoapBinding" type="impl:OrderService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrderServiceService">

      <wsdl:port binding="impl:OrderServiceSoapBinding" name="OrderService">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/OrderService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
